@import "../../shared/assets/css/common.scss";

.home {
  width: 100%;
  height: 100vh;
  background-color: transparent;

  .text {
    font-size: 16px;
    line-height: 28px;
    color: $color-light;
    text-align: center;
    pointer-events: none;
    margin: 0 0 20px 0;
    font-weight: 400;

    .highlight {
      color: $color-pink;
      text-shadow: 0 0 10px $color-pink;
    }
  }

  .btn {
    border: 2px solid $color-light;
    cursor: pointer;
    font-size: 13px;
    color: $color-light;
    padding: 10px 20px;
    transition: all 0.5s;

    .icon {
      margin-left: 10px;
      transition: transform 0.3s;
    }

    &:hover {
      background-color: $color-blue;
      border-color: $color-blue;
      color: #000;

      .icon {
        transform: rotate(90deg);
      }
    }
  }
}

// responsive
@media screen and (min-width: 600px) {
  .home {
    .text {
      font-size: 25px;
      line-height: 32px;
    }
  }
}

@media screen and (min-width: 700px) {
  .home {
    .text {
      font-size: 32px;
      line-height: 36px;
    }
  }
}
